{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    {% if not is_granted("ROLE_USER") %}
        <h3>Sign In</h3>
        {{ include('@FOSUser/Security/login_content.html.twig') }}
    {% endif %}
{% endblock fos_user_content %}
